body {
    background-color: rgb(217, 226, 237);
}
.headerrow {
    background-color: darkseagreen;
    border-radius: 25px;
}
.join_room_response,
.left_room_response {
    background-color: cornsilk;
}
.chat_message {
    font-size: 125%;
    color: black;
    margin: 1px;
}
#messagePane {
    background-color: lightblue;
    border-radius: 5px;
    padding: 15px;
}

table#game_board {
    border: 4px solid black;
    margin: 0px;
    padding: 0px;
}

table#game_board td{
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    background-color: mistyrose;
}

td.hovered_over:hover {
    background-image: url('/assets/images/hover.gif');
}

#messages {
    padding: 5px;
    border-radius: 5px;
}